@charset 'utf-8';

/*** body ***/
body {
    background: #f8f8f8;
    margin: 0;
}

/*** header ***/
#open_menu {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

header h1 {
    font-size: 28px;
    font-weight: normal;
    margin: 0.67em 0;
}

/*** list area ***/
textarea {
    margin-top: 25px;
    margin-bottom: 20px;
}

/*** item area ***/
.itemarea {
    background: #fff;
    padding: 30px 0;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    text-align: center;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/*** button area ***/
#ulBtn, #olBtn, #clrBtn {
    margin: 5px 5px;
    font-size: 8pt;
}

#btnArea {
    margin-top: 15px;
}

/*** option area ***/
#option ul li {
    list-style-type: none;
}

#h_size,
#tabs {
    width: 2em;
}

#ankerLabel {
    width: 30em;
}

/*** footer ***/
footer p {
    text-align: center;
    color: gray;
}